# Main application port 
PORT=

# For example HS256
TOKEN_ALGORITHM=

# Refresh token secret
REFRESH_TOKEN_SECRET=
# Refresh token lifetime in seconds (86400 -> 1 day)
REFRESH_TOKEN_LIFETIME=

# Access token secret
ACCESS_TOKEN_SECRET=
# Access token lifetime in seconds (1800 -> 30 minutes)
ACCESS_TOKEN_LIFETIME=

# PgAdmin data
PGADMIN_PORT=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_DEFAULT_LOGIN=

# PostgreSQL data
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Redis data
REDIS_HOST=
REDIS_PORT=
# For cache
REDIS_DB=
